* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  text-decoration: none;
  text-align: center;
}

body {
  position: relative;
  height: 100vh;
}

nav {
  background-color: #191e24f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 50px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

li {
  width: 70px;
}

li a {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 20px 15px;
  transition: 0.5s;
  color: white;
}

li a:hover {
  color: #f1c40f;
  border-bottom: 4px #f1c40f solid;
  transition: 0.5s;
}

.hide {
  top: 70px;
}

@media screen and (max-width: 700px) {
  /* HAMBURGER */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
  }

  .lines {
    display: block;
    background-color: white;
    height: 2px;
    width: 35px;
  }

  .lines-rotate {
    background-color: rgb(85, 84, 84);
    border-radius: 5px;
  }

  nav {
    position: relative;
    padding: 15px 20px;
  }

  ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -300px;
    right: 0;
    background-color: #f1c40f;
    padding: 35px 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.363);
  }

  li a {
    color: rgba(12, 11, 11, 0.836);
  }

  li {
    text-align: center;
    width: 90vw;
  }

  li a:hover {
    font-weight: bold;
    color: #191e24;
    border: none;
    letter-spacing: 3px;
  }
}

section div {
  width: 95%;
  height: 500px;
  background-color: azure;
  margin: 10px auto;
}

footer {
  position: absolute;
  bottom: 30px;
  margin: 30px;
}
footer a {
  color: grey;
}
